<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    
    <security:http pattern="/resources/**" security="none" />
      
    <security:http auto-config="true" use-expressions="true">
        <security:form-login login-page="/login.do"
                                     login-processing-url="/dologin.do"
                                     default-target-url="/home.do"
                                     authentication-failure-url="/login.do?error=true" 
                                     username-parameter="email"
                                     password-parameter="identification"
                                     always-use-default-target="true" />
            
        <security:intercept-url pattern="/login.do"
                                        access="permitAll" />
                
        <security:intercept-url pattern="/accessdenied.do"
                                        access="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_MANAGER', 'ROLE_ADMINISTRATOR')" />
                
        <security:intercept-url pattern="/home.do"
                                        access="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_MANAGER', 'ROLE_ADMINISTRATOR')" />
                
        <security:intercept-url pattern="/employee/list"
                                        access="hasRole('ROLE_MANAGER')" />                
                
        <security:intercept-url pattern="/user/**" access="hasRole('ROLE_MANAGER')" />                
            
        <security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMINISTRATOR')" />
                                                
        <security:access-denied-handler error-page="/accessdenied.do" />

        <security:logout logout-success-url="/login.do" logout-url="/logout.do" delete-cookies="JSESSIONID" ></security:logout>
    </security:http>
    <security:authentication-manager>
        <security:authentication-provider>
            <security:password-encoder hash="sha-256" />
            <security:jdbc-user-service
                data-source-ref="dataSource" role-prefix="ROLE_"
                users-by-username-query="select Email, password, CASE enabled WHEN 1 THEN 'true' ELSE 'false' END from employees where Email=?"
                authorities-by-username-query="select e.Email, e.Role from employees e where e.Email =? and e.Enabled = 1" />
        </security:authentication-provider>
    </security:authentication-manager>
</beans>